<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
	<link rel="stylesheet" type="text/css" href="css/flatly.min.css">

	<!-- import plugin script -->
    <script src='Chart.js/Chart.min.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
        {{>navbar}}
		<h1>Add A Course</h1>
		<hr>
		<div class="row container-fluid">
			<form id="addCourseForm" role="form" method="post" action="/addCourse">
		    <div class="form-group">
      			<label for="name">Course Title:</label>
      			<input type="text" class="form-control" id="name" placeholder="Programming Methodology" name="name" required>
    		</div>
    		<div class="form-group">
      			<label for="department">Department</label>
      			<input type="text" class="form-control" id="department" placeholder="CS" name="department" required>
    		</div>
	    	<div class="form-group">
    	  		<label for="number">Course Number</label>
      			<input type="text" class="form-control" id="number" placeholder="106A" name="number" required>
    		</div>
    		<hr>
			<div class="form-group row container-fluid">
				<button type="submit" id="submitBtn" class="btn btn-default form-group pull-right col-md-2 col-xs-4" >Next <i class="glyphicon glyphicon-chevron-right"></i></button></form>

			    <button id="backBtn" class="btn btn-default form-group col-md-2 col-xs-4" ><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
			</div>
			
		</div>
		
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
  	<script src="js/addCourse.js"></script>



</body>


</html>
