<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="css/flatly.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div id="{{course._id}}" class="container classInfoDiv">
		{{>navbar}}
		<h1>Configure Syllabus for {{user}}, {{course.department}} {{course.number}}</h1>
		<hr>
		
		<div class="panel panel-default">
			<div class="panel panel-body" id="courseName">
				Here is where we have the name of your course.

			</div>

		</div>


		<div class="panel panel-default">
			<div class="panel panel-body" id="allFields">
				<p>This is where you configure your syllabus. Enter the types of assignments you will complete throughout the quarter, as well as their weighting. If you have <b>problem sets</b> 
					that are <b>25%</b> of your grade, enter <b>Problem Set</b> and <b>25</b></p>
				<div id="successMessageDiv" class="text-success"></div>
				<div id="profs"> 
	                <form id="addAssignmentTypes" role="form" >

	                    <div id="field" class="input-append row">
	                    	<div id="field1" class="col-xs-9 col-md-4"><br>
		                    	
	                    		<div class="row">
                            		<div class="col-md-6 col-xs-6"> 
                                		<input autocomplete="off" placeholder="Ex: 'Exam'" class="form-control col-xs-4 col-md-4" name="type1" type="text">
                                	</div> 
                            		<div class="col-md-6 col-xs-6">
                                		<input autocomplete="off" placeholder="Ex: 60" class="form-control col-xs-4 col-md-4" name="weighting1" type="text">
                                	</div>
                            	</div>

		                    </div>
	                    </div>

	                    <br>
	                    <button id="b1" class="btn btn-default add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add another type</button></input>

	                    <input autocomplete="off" class="hidden" id="numFields" type="hidden" value="1"/>

	                    <br><br>
	                    
	                    <div>
			    			<button type="submit" id="submitBtn" class="btn btn-default pull-right col-md-2 col-lg-2 col-xs-12" ><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
			    		</div>

	                </form>

        		</div>
        		
    </div>
		</div>
		<hr>
		<div class="row container-fluid">
			<button class="btn btn-default col-md-2 col-xs-4" id="backBtn"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
			<button class="btn btn-default col-md-2 col-xs-4 pull-right" id="finishBtn"><i class="glyphicon glyphicon-ok"></i> Finish</button>
		</div>
		<br><br>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/editCourse.js"></script>


</body>


</html>
