<!doctype html>

<html>
<head>
	<title>Poster stuff</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="public/css/flatly.min.css">
	<link rel="stylesheet" type="text/css" href="/poster.css">
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>

<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>


	
	
            
</head>

<body>
	<div class="container">
		<h1 class="col-lg-8 col-md-8 col-xs-6">CS 109</h1><br>

		<div class="panel panel-default">
			<div class="panel panel-body">Insights:</div>
			<div id="testDonutDiv" class="donutChart panel panel-body"></div>
			<div id="typeassignmentdiv" class="donutChart panel panel-body"></div>
		</div>
	</div>
	

</body>
<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/bootstrap.js"></script>
<script src="/poster.js"></script>

</html>

