<html>
<head>
    <title>Log In</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/simplex.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<div class="container">
    <div class="row">
        <h1 class="container-fluid"><b>Quick Calc</b></h1>

        <div class="col-md-6"> 
            <h3>
                    Welcome to Quick Calc, a tool you can use to keep track of where you are in a class, and get useful stats along the way.</div>
            </h3>
        </div>

        <div class="col-md-4 col-offset-7">
            
            <div id="loginPanel" class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login</div>
                <div class="panel-body">
                    <div>{{error}}</div><br>
                    <form class="form-horizontal" role="form" method="post" action="/login">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                            <input type="username" class="form-control" id="inputEmail3" placeholder="user1234" name="username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" id="loginBtn" class="btn btn-success btn-sm">
                                Log In</button>
                                 <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not registered? <a href="signup">Sign up!</a><br>
                    Or log in as guest user <a href="index">here.</a>

                </div>
            </div>



        </div>

    </div>
</div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/login.js"></script>
    <script src="js/common.js"></script>

</body>
</html>