.stackedChart {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

.smoothLineChart {
	width	: 100%;
	height	: 500px;
}

@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
.donutChart {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}			
